---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Customization",
    description: "GVO Discord Bot allows you to customize various aspects of your Discord server, making it truly your own. With its easy-to-use interface, you can tailor the bot to your specific needs and preferences.",
    icon: "mdi:cog",
  },
  {
    title: "Security",
    description: "Security is a top priority for GVO Discord Bot. The bot includes various security features to ensure that your Discord server remains safe and secure. With GVO Discord Bot, you can rest assured that your server is in good hands.",
    icon: "mdi:security",
  },
  {
    title: "Moderation",
    description: "GVO Discord Bot comes with robust moderation features that make managing your Discord server a breeze. The bot includes automated moderation tools, such as auto-moderation, to help keep your server free from spam and other unwanted content.",
    icon: "mdi:security",
  },
  {
    title: "Community",
    description: "At the heart of GVO Discord Bot is a strong sense of community. The bot includes various community-building features, such as customizable welcome messages, to help foster a positive and inclusive community on your Discord server.",
    icon: "mdi:heart",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    GVO comes with <span class="text-primary">enjoyment</span>. It takes the
    best parts of
    <span class="text-primary">discord</span>
    tools and adds its own <span class="text-primary">version</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
